@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 20px; /* Increased height for a larger slider */
  background: #ddd; /* Track color */
  border-radius: 2px; /* Rectangular track */
  border: 1px solid #003c3c; /* Border color and width */
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Increased thumb size */
  height: 32px; /* Increased thumb size */
  border-radius: 2px; /* Rectangular thumb */
  background: #003c3c;
  cursor: pointer;
  border: 2px solid #003c3c; /* Thumb border color and width */
}

.slider::-moz-range-thumb {
  width: 20px; /* Increased thumb size */
  height: 32px; /* Increased thumb size */
  border-radius: 2px; /* Rectangular thumb */
  background: #003c3c;
  cursor: pointer;
  border: 2px solid #003c3c; /* Thumb border color and width */
}

.slider::-ms-thumb {
  width: 20px; /* Increased thumb size */
  height: 32px; /* Increased thumb size */
  border-radius: 2px; /* Rectangular thumb */
  background: #003c3c;
  cursor: pointer;
  border: 2px solid #2d3748; /* Thumb border color and width */
}
